WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service419.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/FaultExceptionBase/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/FaultExceptionBase/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultExceptionBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultExceptionBase" nillable="true" type="tns:FaultExceptionBase" />
</xs:schema>