WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service425.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/DataDetail/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/DataDetail/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataDetail" nillable="true" type="tns:DataDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataDetail" nillable="true" type="tns:ArrayOfDataDetail" />
  <xs:complexType name="DataDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDetail" nillable="true" type="tns:DataDetail" />
</xs:schema>