WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service415.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/TransactionTax/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/TransactionTax/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransactionTax">
    <xs:sequence>
      <xs:element minOccurs="0" name="DivisionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTax" nillable="true" type="tns:TransactionTax" />
</xs:schema>