WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service410.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/GeographyLookupResult/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/GeographyLookupResult/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd7" namespace="http://schemas.cch.com/Message/4.0" />
  <xs:complexType name="ArrayOfGeographyLookupResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeographyLookupResult" nillable="true" type="tns:GeographyLookupResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeographyLookupResult" nillable="true" type="tns:ArrayOfGeographyLookupResult" />
  <xs:complexType name="GeographyLookupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoID" type="xs:int" />
      <xs:element minOccurs="0" name="Geocode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.cch.com/Message/4.0" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfMessage" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxDistrictDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeographyLookupResult" nillable="true" type="tns:GeographyLookupResult" />
</xs:schema>