WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service418.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/CustomerCertificateRequest/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/CustomerCertificateRequest/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd25" namespace="http://schemas.cch.com/CustomerCertificate/4.0" />
  <xs:complexType name="CustomerCertificateRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/CustomerCertificate/4.0" minOccurs="0" name="CustomerCertificates" nillable="true" type="q1:ArrayOfCustomerCertificate" />
      <xs:element minOccurs="0" name="DivisionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCertificateRequest" nillable="true" type="tns:CustomerCertificateRequest" />
</xs:schema>