WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service426.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/TaxLiabilityResponse/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/TaxLiabilityResponse/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd7" namespace="http://schemas.cch.com/Message/4.0" />
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd32" namespace="http://schemas.cch.com/TaxItem/4.0" />
  <xs:complexType name="TaxLiabilityResponse">
    <xs:sequence>
      <xs:element name="EstimatedTotalFee" type="xs:decimal" />
      <xs:element name="EstimatedTotalTaxRate" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.cch.com/Message/4.0" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfMessage" />
      <xs:element xmlns:q2="http://schemas.cch.com/TaxItem/4.0" name="TaxItems" nillable="true" type="q2:ArrayOfTaxItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxLiabilityResponse" nillable="true" type="tns:TaxLiabilityResponse" />
</xs:schema>