WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service421.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/LineItem/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/LineItem/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd12" namespace="http://schemas.cch.com/NexusInfo/4.0" />
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd14" namespace="http://schemas.cch.com/ProductInfo/4.0" />
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd15" namespace="http://schemas.cch.com/SitusInfo/4.0" />
  <xs:complexType name="ArrayOfLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineItem" nillable="true" type="tns:ArrayOfLineItem" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgUnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExemptionCode" nillable="true" type="xs:string" />
      <xs:element name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.cch.com/NexusInfo/4.0" minOccurs="0" name="NexusInfo" nillable="true" type="q1:NexusInfo" />
      <xs:element xmlns:q2="http://schemas.cch.com/ProductInfo/4.0" minOccurs="0" name="ProductInfo" nillable="true" type="q2:ProductInfo" />
      <xs:element minOccurs="0" name="ProviderType" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.cch.com/SitusInfo/4.0" minOccurs="0" name="SitusInfo" nillable="true" type="q3:SitusInfo" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
</xs:schema>