WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service427.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/CustomerCertificate/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/CustomerCertificate/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd26" namespace="http://schemas.cch.com/Customer/4.0" />
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd27" namespace="http://schemas.cch.com/Certificate/4.0" />
  <xs:complexType name="ArrayOfCustomerCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerCertificate" nillable="true" type="tns:CustomerCertificate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerCertificate" nillable="true" type="tns:ArrayOfCustomerCertificate" />
  <xs:complexType name="CustomerCertificate">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/Customer/4.0" minOccurs="0" name="Customer" nillable="true" type="q1:Customer" />
      <xs:element xmlns:q2="http://schemas.cch.com/Certificate/4.0" minOccurs="0" name="Certificates" nillable="true" type="q2:ArrayOfCertificate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCertificate" nillable="true" type="tns:CustomerCertificate" />
</xs:schema>