WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service434.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/TaxLiabilityRequest/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/TaxLiabilityRequest/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd13" namespace="http://schemas.cch.com/Address/4.0" />
  <xs:complexType name="TaxLiabilityRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/Address/4.0" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element name="CustomerType" nillable="true" type="xs:string" />
      <xs:element name="DivisionId" nillable="true" type="xs:string" />
      <xs:element name="EffectiveDate" type="xs:dateTime" />
      <xs:element name="EntityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geocode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element name="ProviderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxLiabilityRequest" nillable="true" type="tns:TaxLiabilityRequest" />
</xs:schema>