WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.cch.com/STOService/4.0" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.cch.com/STOService/4.0" location="http://localhost:8000/Service4.0.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="STOService" type="i0:ISTOServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateProcurementRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/CalculateProcurementRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnattributedProcurementReturnRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/UnattributedProcurementReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CalculateRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/CalculateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FinalizeRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/FinalizeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GeoblockRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnattributedReturnRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/UnattributedReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AttributedFullReturnRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/AttributedFullReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartialReturnRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/PartialReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TaxAdjustmentRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/TaxAdjustmentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SystemDateTimeRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/SystemDateTimeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GetDataValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSKU">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/CreateSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequestAll">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GeoblockRequestAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerCertificateRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/CreateCustomerCertificateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExportCustomerCertificateRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/ExportCustomerCertificateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExportCustomerCertificateFilterRequest">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/ExportCustomerCertificateFilterRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionTax">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GetTransactionTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTaxRates">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GetTaxRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessingFaultExceptionFault">
        <soap:fault use="literal" name="ProcessingFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultExceptionFault">
        <soap:fault use="literal" name="ValidationFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGeocodeList">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/GetGeocodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultExceptionFault">
        <soap:fault use="literal" name="ValidationFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessingFaultExceptionFault">
        <soap:fault use="literal" name="ProcessingFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RefreshDBConfiguration">
      <soap:operation soapAction="http://schemas.cch.com/STOService/4.0/ISTOServiceContract/RefreshDBConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>