WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service424.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/NexusInfo/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/NexusInfo/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd13" namespace="http://schemas.cch.com/Address/4.0" />
  <xs:complexType name="NexusInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/Address/4.0" minOccurs="0" name="OrderApprovalAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="OrderApprovalGeoBlock" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.cch.com/Address/4.0" minOccurs="0" name="OrderPlacementAddress" nillable="true" type="q2:Address" />
      <xs:element minOccurs="0" name="OrderPlacementGeoBlock" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.cch.com/Address/4.0" minOccurs="0" name="ShipFromAddress" nillable="true" type="q3:Address" />
      <xs:element minOccurs="0" name="ShipFromGeoBlock" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.cch.com/Address/4.0" name="ShipToAddress" nillable="true" type="q4:Address" />
      <xs:element minOccurs="0" name="ShipToGeoBlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilingLocationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NexusInfo" nillable="true" type="tns:NexusInfo" />
</xs:schema>