WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service429.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/PartialReturnOrder/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/PartialReturnOrder/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd19" namespace="http://schemas.cch.com/PartialLineItem/4.0" />
  <xs:complexType name="PartialReturnOrder">
    <xs:sequence>
      <xs:element name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.cch.com/PartialLineItem/4.0" name="LineItems" nillable="true" type="q1:ArrayOfPartialLineItem" />
      <xs:element name="OriginalTransactionID" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="SourceSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartialReturnOrder" nillable="true" type="tns:PartialReturnOrder" />
</xs:schema>