WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/TaxDetail/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/TaxDetail/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaxDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxDetail" nillable="true" type="tns:TaxDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxDetail" nillable="true" type="tns:ArrayOfTaxDetail" />
  <xs:complexType name="TaxDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExemptAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExemptQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="PassFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxDetail" nillable="true" type="tns:TaxDetail" />
</xs:schema>