WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service430.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/CustomerCertificateExport/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/CustomerCertificateExport/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd25" namespace="http://schemas.cch.com/CustomerCertificate/4.0" />
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd7" namespace="http://schemas.cch.com/Message/4.0" />
  <xs:complexType name="CustomerCertificatesExport">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/CustomerCertificate/4.0" minOccurs="0" name="CustomerCertificates" nillable="true" type="q1:ArrayOfCustomerCertificate" />
      <xs:element xmlns:q2="http://schemas.cch.com/Message/4.0" minOccurs="0" name="Message" nillable="true" type="q2:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCertificatesExport" nillable="true" type="tns:CustomerCertificatesExport" />
</xs:schema>