WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service417.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/ProductInfo/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/ProductInfo/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element name="ProductItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
</xs:schema>