WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service420.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/SitusInfo/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/SitusInfo/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SitusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanRejectDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipFromPOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitedOutside" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SitusInfo" nillable="true" type="tns:SitusInfo" />
</xs:schema>