WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/TransactionDetail/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/TransactionDetail/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd7" namespace="http://schemas.cch.com/Message/4.0" />
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.cch.com/Message/4.0" minOccurs="0" name="messagesField" nillable="true" type="q1:ArrayOfMessage" />
      <xs:element minOccurs="0" name="transactionStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
</xs:schema>