WK.TaxFormalizer.Service/WK.TaxFormalizer.Core/Service References/CalculationService/Service412.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.cch.com/SKUDetail/4.0" elementFormDefault="qualified" targetNamespace="http://schemas.cch.com/SKUDetail/4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Service4.0.svc?xsd=xsd14" namespace="http://schemas.cch.com/ProductInfo/4.0" />
  <xs:complexType name="ArrayOfSKUDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SKUDetail" nillable="true" type="tns:SKUDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSKUDetail" nillable="true" type="tns:ArrayOfSKUDetail" />
  <xs:complexType name="SKUDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.cch.com/ProductInfo/4.0" minOccurs="0" name="Product" nillable="true" type="q1:ProductInfo" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SKUDetail" nillable="true" type="tns:SKUDetail" />
</xs:schema>